<div class="container mt-3">
  <%= simple_form_for(gaming_session) do |f| %>
    <%= f.input :name%>
    <%= f.input :date%>
    <%= f.input :address%>
    <%= f.input :game%>
    <%= f.input :number_of_participants%>
    <%= f.input :description%>
    <%= f.input :price%>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
