<div class="container">
  <div class="title1">
      <h1 style='100vh'>DÉCOUVREZ VOTRE BAR <br>À JEU FAVORI</h1>
  </div>
  <div class="subtitle">
      <h3 style='100vh'>Venez découvrir pleins de nouveaux jeux avec vos amis!</h3>
  </div>
  <div class="row ">
    <div class="col-6" >
      <div class="card-map">
        <div class="mapping">
          <div style="width: 100%; height: 600px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
        </div>
    </div>
    <div class="col-6 ">
      <% @gaming_sessions.each do |gaming_session| %>
        <div class="row">
            <div class="card-session">
                <%=image_tag "bar_a_jeu_2.jpg", alt:"photo random de bar à jeu"%>
                <div class="card-session-infos"  >
                  <h2><%= link_to gaming_session.name.titleize, gaming_session_path(gaming_session)%></h2>
                  <p> <%= gaming_session.address %></p>
                  <p> Capacité <strong> : <%= gaming_session.number_of_participants %> personnes </strong> </p>
                  <p> <%= gaming_session.description %> </p>
                </div>
                <div class="btn">
                  <div class="button-orange">
                    <%= link_to "Réserver", gaming_session_path(gaming_session), class: "button-orange"%>
                  </div>
                  <%# <%= link_to "Réserver", class: "button-orange"%>
                  <%# mettre le lien vers le booking %>
                </div>
            </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
