<div class="container">
  <div class="row ">
    <div class="col-6" >
      <div class="card-map">
        <div class="mapping">
          <h2>Découvrez votre bar à jeu favori, et venez découvrir pleins de nouveaux jeux avec vos amis!</h2>
          <div style="width: 100%; height: 600px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
        </div>
    </div>
    <div class="col-6 ">
      <% @gaming_sessions.each do |gaming_session| %>
        <div class="row">
            <div class="card-session">
                <%=image_tag "bar_a_jeu_2.jpeg", alt:"photo random de bar à jeu"%>
                <div class="card-session-infos"  >
                  <h2><%= link_to gaming_session.name, gaming_session_path(gaming_session)%></h2>
                  <p> <%= gaming_session.address %></p>
                  <p> Nombre de participants :<strong>  <%= gaming_session.number_of_participants %> </strong> </p>
                  <p> <%= gaming_session.description %> </p>
                </div>
                <div class="btn">
                  <div class="button-orange">
                    <%= link_to "Réserver", gaming_session_path(gaming_session), class: "button-orange"%>
                  </div>
                  <%# <%= link_to "Réserver", class: "button-orange"%>
                  <%# mettre le lien vers le booking %>
                </div>
            </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
