<div class="container">
  <div class="bann-bar">
    <%=image_tag "show-bar.png", alt:"show-bar"%>
    <h2 class= "t2"> <%= @gaming_session.name.capitalize %> </h2>
  </div>
      <%# <% if current_user == @gaming_session.user %>
  <% if policy(@gaming_session).edit? %>
    <div class="row">
      <div class="col-6">
          <div class="card-creation-title">
            <%= render "carrousel" %>
        </div>
      </div>
      <div class="col-6">
        <%# <div class="card-creation-title"> %>
          <div class="forming">
            <div class="current-use">
              <div>
                <%= render "description_bar" %>
              </div>
              <div>
              <%= render "icons" %>
              </div>
            </div>
            <div class="user-btn">
              <%= link_to "Modifier votre bar à jeu", edit_gaming_session_path(@gaming_session), class: "button-orange" %>
              <%= link_to "Délister le bar à jeu", @gaming_session, class: "button-orange", method: :delete if policy(@gaming_session).destroy? %>
            </div>
          </div>
        <%# </div> %>
      </div>
    </div>
    <% else %>
      <div class="row">
        <div class="col-6">
          <div class="card-creation-title">
            <%= render "carrousel" %>
            <%= render "icons" %>
            <%= render "description_bar", class:"description" %>
          </div>
        </div>
        <div class="col-6">
          <div class="forming">
            <%= render "shared/form_booking", price: @gaming_session.price %>
          </div>
        </div>
      </div>
  <% end %>
<%# <% end %>
</div>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<script>
document.querySelector(".bann-bar").addEventListener("click", () => {
  for (let index = 0; index <= Math.floor(Math.random() * 8);  index++) {
    confetti({
    origin: {
      x:Math.random(),
      y:Math.random() - 0.1
    }
  })
  }
});
</script>
