<div class="container">
  <div class="bann-bar">
    <%=image_tag "show-bar.png", alt:"show-bar"%>
    <h2 class= "t2"> <%= @gaming_session.name.capitalize %> </h2>
  </div>


  <div class="row">

    <div class="col-6">
      <div class="card-creation-title">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @gaming_session.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%="active" if index == 0 %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path photo.key, crop: :fill %>'); height: 250px;"></div>
            <% end %>
        </div>
      </div>
      <div class="icons">
          <i class="fa-solid fa-dice-six"></i>
          <% if @gaming_session.food? %>
            <i class="fa-solid fa-utensils"></i>
          <% end %>
          <% if @gaming_session.drink? %>
            <i class="fa-solid fa-martini-glass"></i>
          <% end %>
        </div>

        <p> <strong>Description : </strong> <%= @gaming_session.description.capitalize %> </p>
         <p> <strong>Type de jeu : </strong>  <%= @gaming_session.game_type %> </p>
      </div>
    </div>

    <div class="col-6">
      <div class="user-btn">
        <% if policy(@gaming_session).edit? %>
          <div class="user">
            <%= link_to "Modifier votre bar à jeu", edit_gaming_session_path(@gaming_session), class: "button-orange" %>
          <% end %>
          </div>
          <div class="user">
            <%= link_to "Délister le bar à jeu", @gaming_session, class: "button-orange", method: :delete if policy(@gaming_session).destroy? %>
          </div>
        <% unless @gaming_session.user == current_user %>
          <div class="forming">
            <%= render "shared/form_booking", price: @gaming_session.price %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
