<div class="container">

 <% @gaming_session.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

  <div class="row">

    <div class="col-6">
      <div class="card-creation-title">
        <h1 class= "t2"> <%= @gaming_session.name.capitalize %> </h1>
        <br>
        <h3>Description :</h3>
        <p> <%= @gaming_session.description %> </p>
        <p>Food: <%= @gaming_session.food %></p>
        <p>Drink: <%= @gaming_session.drink %></p>
         <p> Type de jeu : <%= @gaming_session.game_type %> </p>
        <% if policy(@gaming_session).edit? %>
          <p><%= link_to "updater votre bar à jeu", edit_gaming_session_path(@gaming_session), class: "button-orange" %></p>
        <% end %>
          <%= button_to "délister le bar à jeu", @gaming_session, class: "button-orange", method: :delete if policy(@gaming_session).destroy? %>
      </div>

    </div>
  </div>
  <div class="col-6">
      <% unless @gaming_session.user == current_user %>
        <div class="forming">
          <%= render "shared/form_booking", price: @gaming_session.price %>
        </div>
      <% end %>
  </div>
</div>
