<h1>voici les détails du bar à jeu:</h1>

<%= @gaming_session.name %>
<br>
<% @gaming_session.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<br>
<br>

<% if policy(@gaming_session).edit? %>
  <%= link_to "updater votre bar à jeu", edit_gaming_session_path(@gaming_session) %> |
<% end %>
<%= button_to "délister le bar à jeu", @gaming_session, method: :delete if policy(@gaming_session).destroy? %>
<% unless @gaming_session.user == current_user %>
<%= render "shared/form_booking" %>
<% end %>
