<span> <strong>Vos réservations</strong> </span> <br>
  <div class="container">
    <% @bookings.each do |booking| %>
      <% if booking.gaming_session.user != current_user %> <br> <br>
          <ul>
            <li>
                <%= booking.gaming_session.name %> : du <%= booking.start_date %> au <%= booking.end_date %>
                <% if booking.status == nil %>
                  <span class="text-secondary"> Validation en attente...</span>
                <% elsif booking.status == false %>
                  <span class="text-danger"> Refusé </span>
                <% else %>
                  <span class="text-success"> Réservé </span>
                <% end %>
            </li>
          </ul>
      <% else %> <br> <br>
        <ul>
          <li>
            User        : <%= booking.user.first_name %> <%= booking.user.last_name %>
            Réservation : <%= booking.gaming_session.name %> : du <%= booking.start_date %> au <%= booking.end_date %>
            <%= link_to 'accepter' %> /// <%= link_to 'refuser' %>
          </li>
        </ul>
      <% end %>
    <% end %>
</div>
